<!DOCTYPE html>
<html>
<head>
	<title>WarwickTikits</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='logs.css')}}">
</head>
<body>
	<header>
		<h1>WarwickTikits
		<nav>
			<ul>
				<li><a href="{{url_for('index')}}">Home</a></li>
				<li><a href="{{url_for('addEvent')}}">Add Events</a></li>
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('register')}}">Register</a></li>
				<li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
		</h1>
	</header>
  <main>
  <h2>Buy tickets for Events here!</h2>
  <ul>
    {% if error_message %}
      <div class="error-message">{{ error_message }}</div>
    {% endif %}
    {% for events in events %}
      <li>
        <h2>{{ events.name }}</h2>
        <p>{{ events.date }}</p>
        <p>{{ events.place }}</p>
        <p>cost: {{ events.cost }}</p>
				<p>ID: {{events.id}}</p>
        <form method="POST" action="{{ url_for('purchase_ticket')}}">
          <label for="event_id">Event ID:</label>
          <input type="text" id="event_id" name="event_id" required>
          <label for="quaantity">Quantity:</label>
          <input type="number" name="quantity" value="1" min="1" max="{{ events.capacity }}">
          <button type="submit">Buy Tickets</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  </main>
	<footer>
		<p>&copy; 2023 WarwickTikits.</p>
	</footer>
  </body>
  </html>
